<div class="container">
    <div class="row justify-content-center">
    <ul>
        <li (mouseover)="hoverIMG($event)" (mouseout)="hoverIMGoff($event)">
            <img src="../assets/Images/Projects/asg.jpg" width="160px" height="140px" class="img-thumbnail image"/>
            <h2>Another Shooter Game</h2>
            

            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <p class="card-text">A 3D Space shooter based on games such as Galaga and Star Fox 64, made with Unity using C#.</p>
                    <button type="button" class="btn btn-success btn-lg btn-block" onclick="location.href='http://beenok23.itch.io/another-shooter-game'" >Download</button>
                </div>
            </div>
        </li>
        <li (mouseover)="hoverIMG($event)" (mouseout)="hoverIMGoff($event)">
            <img src="../assets/Images/Projects/minesweeper.jpeg" width="160px" height="140px" class="img-thumbnail image"/>
            <h2>Minesweeper Multiplayer</h2>
            

            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <p class="card-text">A local multiplayer minesweeper made in python3 using Tkinter.</p>
                    <button type="button" class="btn btn-success btn-lg btn-block" onclick="window.location='../assets/minesweeper-master.zip'">Download</button>
                </div>
            </div>
        </li>
        <li (mouseover)="hoverIMG($event)" (mouseout)="hoverIMGoff($event)">
            <img src="../assets/Images/Projects/pokemon.png" width="160px" height="140px" class="img-thumbnail image"/>
            <h2>Pokemon Quiz</h2>
            

            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <p class="card-text">An intuitive pokemon quiz webpage(My first webpage ever made), using simple HTML, CSS and Javascript</p>
                    <button type="button" class="btn btn-warning btn-lg btn-block"onclick="location.href='http://pokemonquiz.000webhostapp.com/'">View</button>
                </div>
            </div>
        </li>
        <li (mouseover)="hoverIMG($event)" (mouseout)="hoverIMGoff($event)">
            <img src="../assets/Images/Projects/classes.png" width="160px" height="140px" class="img-thumbnail image"/>
            <h2>Classes</h2>
            

            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <p class="card-text">Idependent tutor,giving classes of English of any level, Mathematics up to high school, Office 365, Physics up to high school and Programming lessons.</p>
                    <button type="button" class="btn btn-warning btn-lg btn-block" routerLink="/classes">View</button>
                </div>
            </div>
        </li>
    </ul>
    <ul>
        <li (mouseover)="hoverIMG($event)" (mouseout)="hoverIMGoff($event)">
            <img src="../assets/Images/Projects/pwdman.jpeg" width="160px" height="140px" class="img-thumbnail image"/>
            <h2>Password Mage</h2>
            

            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <p class="card-text">Made a password manager with a local database, as well with a secure password generator, and secure password tips generator.Made with SQLite 3 and javaFX</p>
                    <button type="button" class="btn btn-success btn-lg btn-block" onclick="window.location='../assets/Password Mage.jar'">Download</button>
                </div>
            </div>
        </li>
        <li (mouseover)="hoverIMG($event)" (mouseout)="hoverIMGoff($event)">
            <img src="../assets/Images/logo.png" width="160px" height="140px" class="img-thumbnail image"/>
            <h2>Portfolio</h2>
            

            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <p class="card-text">My webpage portfolio made to show my projects, CV, certificates and more. Made in Angular 6, Django, Bootstrap 4, Bootbox.js and MongoDB as the DBMS</p>
      <!-- Cleave js-->
                    <button type="button" class="btn btn-warning btn-lg btn-block" routerLink="/">View</button>
                </div>
            </div>
        </li>
        <li (mouseover)="hoverIMG($event)" (mouseout)="hoverIMGoff($event)">
            <img src="../assets/Images/Projects/rageninja.png" width="160px" height="140px" class="img-thumbnail image"/>
            <h2>Rage Ninja</h2>
            

            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <p class="card-text">Inspired by Super Meat Boy, a game about a ninja trying to defeat an evil wizard. Made in GameMaker</p>
                    <button type="button" class="btn btn-success btn-lg btn-block" onclick="window.location='https://fcamposgonzlez.itch.io/rageninja'">Download</button>
                </div>
            </div>
        </li>
        <li (mouseover)="hoverIMG($event)" (mouseout)="hoverIMGoff($event)">
            <img src="../assets/Images/Projects/laestacion.jpg" width="160px" height="140px" class="img-thumbnail image"/>
            <h2>La Estación</h2>
            

            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <p class="card-text">Una aplicación de web que te permite ordenar los productos de la soda La Estación, creado en PHP</p>
                    <button type="button" class="btn btn-warning btn-lg btn-block"onclick="location.href='http://laestacion.epizy.com'">View</button>
                </div>
            </div>
        </li>
    </ul>
    </div>
</div>
