<div class="bg-image">

<div class="container ">
    <div class="justify-content-center align-items-center row">
    <!-- Default form contact -->
    <form class="jumbotron text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

      <p class="h4 mb-4">Contact me</p>

      <!-- Name -->
      <input type="text" formControlName="contactFormName" id="defaultContactFormName" mdbInputDirective
        class="form-control mb-4" placeholder="Name">

      <!-- Email -->
      <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInputDirective
        class="form-control mb-4" placeholder="E-mail">

      <!-- Subject -->
      <label>Subject</label>
      <select formControlName="contactFormSubjects" class="browser-default custom-select mb-4">
        <option value="" disabled>Choose option</option>
        <option value="1" selected>Feedback</option>
        <option value="2">Report a bug</option>
        <option value="3">Freelance</option>
        <option value="4">Misclellaneous</option>
      </select>

      <!-- Message -->
      <div class="form-group">
        <textarea formControlName="contactFormMessage" class="form-control rounded-0" mdbInputDirective id="exampleFormControlTextarea2"
          rows="3" placeholder="Message"></textarea>
      </div>

      <!-- Copy -->
      <div class="custom-control custom-checkbox mb-4">
        <input formControlName="contactFormCopy" type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
        <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
      </div>

      <!-- Send button -->
      <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
        mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">Send</button>

    </form>
    <!-- Default form contact -->
</div>
</div>


    <div class="container " style="color: white;" 
        fxLayout="row wrap" 
        fxLayout.lt-md="column" 
        fxLayoutAlign="center center" 
        fxLayoutGap="10px">

      <div fxFlex="500" fxFlex.gt-sm="50">
        <div fxLayout="row">
          <div fxFlex="">
            <address class="h6">
              Freelancer: <a href="https://www.freelancer.com/u/josephzamora64">www.freelancer.com/u/josephzamora64</a><br>
              Sololearn: <a href="https://www.sololearn.com/Profile/4949578">http://www.sololearn.com/Profile/4949578</a><br>
              <i class="fa fa-phone"></i>: +506 8459 9023<br>
              <i class="fa fa-envelope"></i>:
              <a href="mailto:joseph.zamora64@yahoo.com">joseph.zamora64@yahoo.com</a>
            </address>
          </div>
        </div>
      </div>
      <div fxFlex="500" fxFlex.gt-sm="45">
        <div class="h6" style="text-align:center">
          <a mat-icon-button class="btn-facebook" target="_blank"href="https://www.facebook.com/joseph.zamora.925"><i class="fab fa-facebook-f fa-lg"></i></a>
          <a mat-icon-button class="btn-linkedin" target="_blank"href="https://www.linkedin.com/in/joseph-david-zamora-murillo-3645a7148/"><i class="fab fa-linkedin-in fa-lg"></i></a>
          <a mat-icon-button class="btn-mail" href="mailto:joseph.zamora64@yahoo.com" style="margin-bottom:5%"><i class="fas fa-envelope fa-lg"></i></a>
        </div>
      </div>
    </div>
</div>
