<div class="bg-image">
<div class="container " style="color: white;" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

  <div fxFlex="500" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="">
        <address class="h6">
          Freelancer: <a href="https://www.freelancer.com/u/josephzamora64">www.freelancer.com/u/josephzamora64</a><br>
          <i class="fa fa-phone"></i>: +506 8459 9023<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:joseph.zamora64@yahoo.com">joseph.zamora64@yahoo.com</a>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="500" fxFlex.gt-sm="45">
    <div class="h6" style="text-align:center">
      <a mat-icon-button class="btn-facebook" target="_blank"href="https://www.facebook.com/joseph.zamora.925"><i class="fab fa-facebook-f fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" target="_blank"href="https://www.linkedin.com/in/joseph-david-zamora-murillo-3645a7148/"><i class="fab fa-linkedin-in fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:joseph.zamora64@yahoo.com" style="margin-bottom:5%"><i class="fas fa-envelope fa-lg"></i></a>
    </div>
  </div>
  <div fxLayout="row">
			<form action="/sendEmail.php" method="post">
                <legend>Send an e-mail. All fields with an asterisk ( '*') are required.</legend>
			<div class="form-group">
				<label  for="contact_name" class="required col-sm-2 control-label">Name <span class="star">&nbsp;*</span></label>
				<div class="col-sm-10">
					<input type="text" name="contact_name"  value="" class="required form-control" size="30" required="required" >
				</div>
			</div>
			<div class="form-group">
				<label for="contact_email" class="required col-sm-2 control-label">
	Email </label>
				<div class="col-sm-10">
					<input type="email" name="contact_email" class="validate-email required form-control"  value="" size="30" autocomplete="email" required="required">				</div>
			</div>
			<div class="form-group">
				<label  for="contact_emailmsg" class="required col-sm-2 control-label">Subject <span class="star">&nbsp;*</span></label>
				<div class="col-sm-10">
					<input type="text" name="contact_subject" class="required form-control" size="60" required="required" >
				</div>
			</div>
			<div class="form-group">
				<label for="contact_message" class="required col-sm-2 control-label">
	Message <span class="star">&nbsp;*</span></label>
				<div class="col-sm-10">
					<textarea name="contact_message" cols="50" rows="10" class="required form-control" required="required" ></textarea>				</div>
			</div>
							<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">
							<input type="checkbox" name="contact_email_copy" value="1">							<label for="contact_email_copy">
	Send me a copy</label>
						</div>
					</div>
				</div>
            <div class="form-group">
                <div class="btn-group" role="group">
					<button class="btn btn-success validate" type="submit">Submit</button>
					<button class="btn btn-warning validate" type="reset">Reset</button>
                </div>
			</div>
           </form>
  </div>
</div>
</div>
