<div class="bg-image" style="padding-top:15px">
    
  <div fxLayout="column" fxHide fxShow.gt-xs="true">
    <mat-grid-list cols="2" rowHeight="240px">
      <mat-grid-tile>
          <button mat-button routerLink="/contact" > <img height="240px" src="../assets/Images/contact.jpg" alt="contact">
        <mat-grid-tile-footer>
          <h1 matLine>Contact Me</h1>
        </mat-grid-tile-footer></button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button routerLink="/curriculum"><img height="240px" src="../assets/Images/studies.jpg" alt="studies">
        <mat-grid-tile-footer>
          <h1 matLine>Academic Qualifications</h1>
        </mat-grid-tile-footer></button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button routerLink="/about"><img height="240px" src="../assets/Images/about.jpg" alt="about">
        <mat-grid-tile-footer>
          <h1 matLine>About Me</h1>
        </mat-grid-tile-footer></button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button routerLink="/projects"><img height="240px" src="../assets/Images/projects.jpg" alt="projects">
        <mat-grid-tile-footer>
          <h1 matLine>Projects</h1>
        </mat-grid-tile-footer></button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div fxLayout="column" fxHide fxShow.xs="true">
    <mat-grid-list cols="1" rowHeight="180px">
      <mat-grid-tile>
        <button mat-button routerLink="/contact" ><img height="180px" width="280px" src="../assets/Images/contact.jpg" alt="contact">
        <mat-grid-tile-footer>
          <h1 matLine style="text-align:center">Contact Me</h1>
        </mat-grid-tile-footer></button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button routerLink="/curriculum" ><img height="180px" width="280px" src="../assets/Images/studies.jpg" alt="studies">
        <mat-grid-tile-footer>
          <h1 matLine style="text-align:center">Academic Qualifications</h1>
        </mat-grid-tile-footer></button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button routerLink="/about" ><img height="180px" width="280px" src="../assets/Images/about.jpg" alt="about">
        <mat-grid-tile-footer>
          <h1 matLine style="text-align:center">About Me</h1>
        </mat-grid-tile-footer></button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button routerLink="/projects" ><img height="180px" width="280px" src="../assets/Images/projects.jpg" alt="projects">
        <mat-grid-tile-footer>
          <h1 matLine style="text-align:center">Projects</h1>
        </mat-grid-tile-footer></button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
