.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  color: #fff;
  font-weight: bold;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 100%;
  background-color: rgba(#5599ff, 0.7);
}

.cert-card {
  max-width: 600px;
}

.cert-image-header-js {
  background-image: url("./../../assets/Images/js.png");
  background-size: cover;
}
.cert-image-header-css {
  background-image: url("./../../assets/Images/css.png");
  background-size: cover;
}
.cert-image-header-cs {
  background-image: url("./../../assets/Images/cs.png");
  background-size: cover;
}

.like {
  background-color: #fafe9d;
}
.share {
  background-color: #d0b3e3;
}

li {
  list-style-type: none;
}
