.cert-card {
  max-width: 600px;
}

.cert-image-header-js {
  background-image: url('./../../assets/Images/js.png');
  background-size: cover;
}
.cert-image-header-css {
  background-image: url('./../../assets/Images/css.png');
  background-size: cover;
}
.cert-image-header-cs {
  background-image: url('./../../assets/Images/cs.png');
  background-size: cover;
}

.like{
  background-color: #FAFE9D;
}
.share{
  background-color: #D0B3E3;
}

li {list-style-type: none;}
