<div class="bg-image">
<div align="right">
<form class="example-form">
  <mat-form-field class="example-full-width">
      <input type="text" placeholder="Search for a certificate..." aria-label="Number"  matInput [formControl]="myControl" [matAutocomplete]="auto" (keyup)="search($event)" id="search">

      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="search($event)">
                    {{option}}
              </mat-option>
      </mat-autocomplete>
  </mat-form-field>
</form>
</div>

    <div class="container-fluid d-one -md-block">
    <ul>
        <li *ngIf="certificates.length < 1">
            <hr>
            <p>
                Certificates not found
            </p>
        </li>
        <li *ngFor="let cert of certificates">
            <div class="row jstify-content-center" style="margin:1%">
                <div class="offset-md-2 offset-0 ">
                  <mat-card class="cert-card">
                  <mat-card-header>
                      <div mat-card-avatar class="cert-image-header-{{cert.logo}}"></div>
                    <mat-card-title>{{cert.name}}</mat-card-title>
                    <mat-card-subtitle>{{cert.type}}</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="{{cert.url}}" width="580px" height="430px" alt="{{cert.name}}">
                  <mat-card-content>
                      <div class="lead h2">
                        <i class="far fa-thumbs-up" ></i>
                        <div class="lead" style="display:inline"> {{cert.likes}}</div>
                        <br>
                        <hr style="color:white">
                      </div>
                      <div class="lead h2" align="center">
                          <p>
                            {{cert.desc}}
                          </p>
                      </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <div class="btn-group">
                        <button id="{{cert.logo}}"  type="button" (click)="putLike($event)" class="btn btn-primary"><p id="{{cert.logo}}" class="h6">LIKE</p></button>
                        <button type="button" class="btn btn-warning" target="_blank" onclick="window.location.href='http://www.facebook.com/sharer.php?u=http://pokemontypequiz.000webhostapp.com/curriculum'"><p class="h6">SHARE</p></button> 
                    </div>
                 </mat-card-actions>
                </mat-card>
                </div>
            </div>
        </li>
    </ul>
    </div>
</div>
